<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    .navbar{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: "Oswald", sans-serif;
      background-color: #000;
      background-image: url('https://www.witf.io/wp-content/uploads/2020/11/iStock-1159238834-1628x1080.jpg'); /* Replace 'stars.png' with your star-like background image */
      background-size:cover;
      background-position: center;
      background-attachment: fixed;
    }

    @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Apply animation to the text */
        .animated-text {
            animation: slideIn 1s ease-in-out;
        }
</style>
<body class="pb-8 flex flex-col items-center">
    
        <nav class="navbar text-white px-12 py-8 animated-text border-b-2 border-white w-full flex flex-row justify-center">
            <a href = "home" class="mx-16 text-2xl hover:text-violet-600">Home</a>
            <a href = "about" class="mx-16 text-2xl hover:text-violet-600 text-emerald-400" >About</a>
            <a href = "portfolio" class="mx-16 text-2xl hover:text-violet-600">Portfolio</a>
            <a href = "game" class="mx-16 text-2xl hover:text-violet-600">Game</a>
        </nav>
        <div class="py-12 w-96 text-center animated-text">
            <img src="<%= aboutdata.profilePictureUrl %>" class="rounded-full mb-20"/>
            <p class="text-2xl text-white">I am <%= name %>, a <%= year %> <%= course %> student in <%= school%>.</p>
            <p class="text-2xl text-white mt-4"> Embracing the challenges as opportunities for growth, I am constantly honing my skills and expanding my understanding of the tech landscape. Eager to make my mark and contribute meaningfully, I embody the essence of a lifelong learner, poised to thrive in the fast-paced world of IT, all while enjoying the simple pleasures of watching sitcoms and delving into captivating books.</p>
        </div>
        <div class="flex justify-center animated-text">
            <% for(let i=0;i<aboutdata.socials.length;i++){ %>
                <a href="<%=aboutdata.socials[i].url%>" target="_blank">
                  <img src="<%=aboutdata.socials[i].img%>" width="30" height="30" />
                </a>
            <% } %>
        </div>
  
</body>
</html> 